<h2>About York Digital Library</h2>

<p>York Digital Library (YODL) is a University-wide Digital Library service for multimedia resources used in or created through teaching, research and study at the University of York. YODL complements the University's research publications, held in White Rose Research Online and PURE, and the digital teaching materials in the University's Yorkshare Virtual Learning Environment.</p>

<p>YODL contains a range of collections, including images, past exam papers, masters dissertations and audio. Some of these are available only to members of the University of York, whilst other material is available to the public. YODL is expanding with more content being added all the time.</p>

<h2>Policies and Licences</h2>
<p>The Digital Library's policies are outlined in: <a target="_blank"
                                                      href="http://www.york.ac.uk/library/collections/yorkdigitallibraryyodl/yorkdigitallibrarypolicy/">Digital
  Library Policy 1.0</a></p>

<p>The Digital Library's licenses the use of resources using a set of standard licences outlined in: <a href="<c:url value='/app/home/licences'/>">Digital Library Licences
</a></p>

<h2>Scheduled Maintenance</h2>

<p>Tuesdays from 08:00AM to 11:00AM GMT is the YODL scheduled maintenance period. During this period we routinely apply system updates and the system may be unavailable.</p>

<h2>Want to know more?</h2>
<p>For further information about YODL, please see the YODL pages on the <a target="_blank"
                                                                           href="http://www.york.ac.uk/digitallibrary">Library
  web site</a></p>

<p>Please <a href="<c:url value='/contact'/>">contact us</a> with any questions.</p>