<h1>YODL Help</h1>
<div style="margin-left: 500px;position: absolute; width: 320px" id="alertbox">
  <img height="30" src="<c:url value='/Content/assets/images-fg/alert.png'/>"/>
  If you are a member of the University of York, <span style="font-weight: bold">log on</span> to the Digital Library with your University username and password in the top right hand side of the screen to access all resources available to you.
</div>
<br />
<div>
  <ul>
    <li><a href="#general">General help for searching</a></li>
    <li><a href="#begin">Beginning a search</a></li>
    <li><a href="#refine">Refining a search</a></li>
    <li><a href="#view">Viewing images</a></li>
    <li><a href="#down">Downloading items from YODL</a></li>
  </ul>
</div>
<br />

<h2><a name="general"></a>General help for searching</h2>

<p>The Digital Library (YODL) homepage allows you to search across all resources, or restrict your search by format using the tabs above the search box. The All tab searches across all content; the Image tab restricts your search to images only; and the Audio tab restricts your search to audio only. Further tabs may be added as the Digital Library provides access to different material, eg video.</p>

<h2><a name="begin"></a>Beginning a search</h2>

<p>Start by entering search terms into the search box on the homepage. YODL automatically performs an 'AND' search which means it will search for all of your search terms.

  <!-- YODL automatically performs an 'OR' search which means it will search across all records for any of your search terms.  -->
  YODL automatically performs an 'AND' search which means it will search for all of your search terms.

</p>

<p><span style="font-weight: bold">Example:</span></p>

<!-- <p>if you search for 'Painting England', your search will return results for records which contain either the word 'painting' OR 'England'. </p> -->

<p>if you search for 'Painting England', your search will return results for records which contain the words 'painting' AND 'England'. </p>

<h2><a name="refine"></a>Refining a search</h2>

<p>If your search has returned too many results, there are a number of options available for refining your search.</p>

<h3>Filters</h3>

<p>From the search results page you will notice that there are a number of filters which appear to the left of the screen, these may change depending on your search results, but may include:</p>
<br />
<ul>
  <li><span style="font-weight: bold">Type: </span>You can filter your search by content type, types of work may include painting, thesis or exam paper. </li>
  <li><span style="font-weight: bold">Creator: </span>Use this filter to restrict your search to a particular creator, for example an artist or author.</li>
  <li><span style="font-weight: bold">Date: </span>Use the date filter to restrict your search to a certain period. You can either type this into the boxes available or use the date slider.</li>
</ul>

<p>The filters you have applied will appear in the 'Showing' box above the filters, to remove them and expand your search again, click the 'X' button.</p>

<h3>AND searching</h3>

<p>To search YODL for records which contain all your search terms, include the word AND between your search terms.</p>

<p><span style="font-weight: bold">Example:</span></p>

<p>A search for 'painting AND England' will only return results for records which contain both of these search terms. </p>

<h3>Phrase searching</h3>

<p>To search for a specific phrase, enclose your search terms in quotation marks.</p>

<p><span style="font-weight: bold">Example:</span></p>

<p>A search for "politics and the novel" will only return results for records which contain that exact phrase.</p>

<h3>Excluding words or phrases</h3>

<p>To exclude a particular word, use either NOT or a minus sign before the word to be excluded.

<p><span style="font-weight: bold">Example:</span></p>
<br />
<ul>
  <li>A search for 'surrealist NOT Magritte' would return results for records which contained the word 'surrealist' but not 'Magritte'</li>
  <li>A search for 'surrealist -sculpture -painting' would return results for all records which contained the word 'surrealist' but not 'sculpture' or 'painting'.</li>
</ul>

<h2><a name="view"></a>Viewing images</h2>

<p>To view images click the thumbnail image or the title from the search results page. In the following screen information about the image will be displayed to the left of the screen and the image to the right.</p>

<p>Hover your mouse over the image and options to zoom in and out, or to view the image in full screen will appear at the bottom right of the image.</p>

<h2><a name="view"></a>Playing audio</h2>

<p>To play audio files, click the audio thumbnail or title from the search results page and then click on the play button in the embedded media player. If the player does not appear, it may be because we do not yet have digital audio available for this resource (some of our audio collections include records for analogue recordings which have not yet been digitised). </p>
<p>Where there are several audio files, or tracks, a list of these will appear on the left hand side of the page. Click on the title or play icon to play these in the media player. Please note that we do not currently make audio files downloadable.</p>

<h2><a name="down"></a>Downloading items from YODL</h2>

<p>Some content in YODL is restricted to online use only, however, the majority is available for University of York users to download.</p>

<h3>Downloading theses</h3>
<p>Once you've located and selected the thesis you wish to access, click the Download button from the left of the screen. To download the thesis select THESIS_MAIN and then navigate to where you want to save it. The thesis will then download as a PDF.</p>

<p>If there is any additional content, eg appendices, this will be available from the Download dropdown and will be called THESIS_ADDITIONAL.</p>

<h3>Downloading exam papers</h3>
<p>Once you've located and selected the exam paper you wish to access, click the Download button from the left of the screen. To download the exam paper, select EXAM_PAPER from the dropdown and then navigate to where you want to save it. The exam paper will then download as a PDF.</p>
<p>If there is any additional content, e.g. solutions paper, this will be available from the Download dropdown and will be called EXAM_PAPER_ADDITIONAL.</p>
<h3>Downloading images</h3>
<p>Once you've located and selected the image you wish to access, click the Download button at the bottom left of the screen. There are different download options for images, depending on their access restrictions:</p>
<br />
<ul>
  <!-- <li><span style="font-weight: bold">Thumbnail: </span>This is a small, thumbnail image</li> -->
  <li><span style="font-weight: bold">FULL_IMAGE: </span>The original full resolution image</li>
  <li><span style="font-weight: bold">PREVIEW_IMAGE: </span>Screen-friendly image</li>
</ul>